absl-py==1.1.0
altair==4.1.0
antlr4-python3-runtime==4.9.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
av==10.0.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
black==23.3.0
bleach==3.3.0
blinker==1.6.2
boto3==1.14.7
botocore==1.17.7
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
cmdstanpy==0.9.5
colorama==0.4.6
contourpy==1.0.7
convertdate==2.4.0
cycler==0.11.0
Cython==0.29.33
debugpy==1.6.7
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.13
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@3c7bb714795edc7a96c9a1a6dd83663ecd293e36
Django==4.2.1
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
exceptiongroup==1.1.0
filelock==3.12.0
fonttools==4.39.4
fvcore==0.1.5.post20221221
gast==0.4.0
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpytorch==1.9.1
grpcio==1.54.2
h5py==3.7.0
hijri-converter==2.2.4
holidays==0.19
hydra-core==1.3.2
idna==2.9
imageio==2.29.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
iniconfig==2.0.0
iopath==0.1.9
ipykernel==6.10.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.2.0
jupyter_client==7.4.9
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy_loader==0.2
libclang==14.0.1
linear-operator==0.3.0
llvmlite==0.39.1
LunarCalendar==0.0.9
Markdown==3.3.7
MarkupSafe==1.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.3
mpmath==1.3.0
multipledispatch==0.6.0
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.1
notebook==6.1.6
numba==0.56.4
numpy==1.22.0
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.11.1
pathtools==0.1.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==3.5.1
plotly==5.13.0
portalocker==2.7.0
prometheus-client==0.8.0
prompt-toolkit==3.0.38
protobuf==4.23.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.21
pydeck==0.4.0b2
Pygments==2.7.4
pymannkendall==1.4.3
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==7.2.1
pytest-mpl==0.16.1
python-dateutil==2.8.1
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==306
pywinpty==2.0.10
PyYAML==5.1
pyzmq==19.0.1
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.3.3
scikit-image==0.20.0
scikit-learn==1.2.1
scipy==1.9.1
seaborn==0.12.2
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
sqlparse==0.4.4
statsmodels==0.12.2
streamlit==0.61.0
sympy==1.11.1
tabulate==0.8.10
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-ranking==0.5.0
tensorflow-text==2.8.1
termcolor==1.1.0
terminado==0.13.3
testpath==0.4.4
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2023.4.12
toml==0.10.2
tomli==2.0.1
toolz==0.10.0
torch==2.0.0
torchgeometry==0.1.2
torchvision==0.15.1
tornado==6.3.1
tqdm==4.46.1
traitlets==4.3.3
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.25.11
validators==0.15.0
watchdog==0.10.2
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.5.1
wrapt==1.14.1
yacs==0.1.8
zipp==3.1.0
