{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<h2>Virtual Try-On</h2>
</div>
<form method="POST" enctype="multipart/form-data" id="inputform">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col form-group files">
                <label>Upload Your Photo</label>
                <input type="file" class="form-control" name="image_person" id="image_person" accept="image/*" oninput="readURL(this)" ondragover="dragEnter(this)" ondragleave="dragLeave(this)">
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your photo" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload('image_person')" class="remove-image">Remove Image</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-group files">
                <label>Upload Cloth Photo</label>
                <input type="file" class="form-control" name="image_cloth" id="image_cloth" accept="image/*" oninput="readURL(this)" ondragover="dragEnter(this)" ondragleave="dragLeave(this)">
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="cloth photo" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload('image_cloth')" class="remove-image">Remove Image</button>
                    </div>
                </div>
            </div>
        </div>

        <label for="method_selector">Select model:</label>
        <div class="row selector">
            <select class="form-control" id="method_selector" name="method">
                <option>CP-VTON+</option>
                <option>VITON-HD</option>
                <option>HR-VITON</option>
            </select>

            <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
        </div>
    </div>
</form>
<div class="container">
<div class="row">
    <div id="spinner-div" class="pt-5">
        <div class="spinner-border text-primary" role="status"></div>
        <p id="spinner-text">Loading...</p>
    </div>
</div>
<div class="row result">
    <div>
        <img id="result-image" src="#">
    </div>
</div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/image_uploader.js' %}"></script>
<script src="{% static 'js/form_submitter.js' %}"></script>
{% endblock javascript %}