{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data" id="inputform">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col form-group files">
                <label>Upload Your Photo</label>
                <input type="file" class="form-control" name="image_person" id="image_person" accept="image/*" oninput="readURL(this)" ondragover="dragEnter(this)" ondragleave="dragLeave(this)">
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your photo" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload('image_person')" class="remove-image">Remove Image</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-group files">
                <label>Upload Cloth Photo</label>
                <input type="file" class="form-control" name="image_cloth" id="image_cloth" accept="image/*" oninput="readURL(this)" ondragover="dragEnter(this)" ondragleave="dragLeave(this)">
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="cloth photo" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload('image_cloth')" class="remove-image">Remove Image</button>
                    </div>
                </div>
            </div>
        </div>

        <label for="method_selector">Select list:</label>
        <select class="form-control" id="method_selector" name="method">
            <option>ViTON</option>
            <option>CP-VTON+</option>
            <option>HR-VTON</option>
        </select>

        <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
    </div>
</form>
<div id="spinner-div" class="pt-5">
    <div class="spinner-border text-primary" role="status"></div>
    <p id="spinner-text">Loading...</p>
</div>
<div>
    <img id="human_parsed" src="#">
</div>
{% endblock content %}

{% block javascript %}
<script>
function readURL(input) {
    input_node = $(`#${input.id}`);
    file_upload_content_node = input_node.next();
    file_upload_image_node = file_upload_content_node.children('img');
    files_node = input_node.parent()
    input_node.removeClass('image-dropping');
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            input_node.hide();
            file_upload_image_node.attr('src', e.target.result);
            file_upload_content_node.show();
            files_node.addClass('no-pseudo');
        };
        reader.readAsDataURL(input.files[0]);
    } else {
        removeUpload(input.id);
    }
}

function removeUpload(input_id) {
    input_node = $(`#${input_id}`);
    file_upload_content_node = input_node.next();
    {#file_upload_image_node = file_upload_content_node.children('img');#}
    files_node = input_node.parent()
    {#$('.file-upload-input').replaceWith($('.file-upload-input').clone());#}
    file_upload_content_node.hide();
    input_node[0].value = null;
    input_node.show();
    console.log(input_node);
    files_node.removeClass('no-pseudo');
}
function dragEnter(element) {
    $(`#${element.id}`).addClass('image-dropping');
}
function dragLeave(element) {
    $(`#${element.id}`).removeClass('image-dropping');
}
</script>
<script>
var spinner_states = {
    "pose": "Calculating pose keypoints...",
    "segmentation": "Calculating segmentation regions...",
    "mask": "Calculating cloth mask..."
};

function actualize_spinner_state(completed_state){
    delete spinner_states[completed_state];
    let spinner_keys =Object.keys(spinner_states);
    if(spinner_keys.length > 0){
        $("#spinner-text").html(spinner_states[spinner_keys[0]]);
    }
    else {
        $("#spinner-text").html("");
        $("#spinner-div").hide();
    }
}

function calculate_pose(data) {
    return $.ajax({
        url         : '{% url "calculate_pose" %}',
        type        : 'POST',
        data        : data,
        cache       : false,
        contentType : false,
        processData : false,
        success : function(data) {
            console.log('calculate_pose success');
        },
        error: function(data) {
            console.log('calculate_pose failed');
            console.log(data);
        },
        complete: function(data) {
            actualize_spinner_state('pose');
        }
    });
}

function calculate_segmentation(data) {
    return $.ajax({
        url         : '{% url "calculate_segmentation" %}',
        type        : 'POST',
        data        : data,
        cache       : false,
        contentType : false,
        processData : false,
        success : function(data) {
            console.log('calculate_segmentation success');
        },
        error: function(data) {
            console.log('calculate_segmentation failed');
            console.log(data);
        },
        complete: function(data) {
            actualize_spinner_state('segmentation');
        }
    });
}

function calculate_mask(data) {
    return $.ajax({
        url         : '{% url "calculate_mask" %}',
        type        : 'POST',
        data        : data,
        cache       : false,
        contentType : false,
        processData : false,
        success : function(data) {
            console.log('calculate_mask success');
        },
        error: function(data) {
            console.log('calculate_mask failed');
            console.log(data);
        },
        complete: function(data) {
            actualize_spinner_state('mask');
        }
    });
}

$("#inputform").on('submit', function(e){
    e.preventDefault();
    var formdata = new FormData(this);
    $("#spinner-div").show();
    $("#spinner-text").html(spinner_states['mask']);
    $.when(calculate_pose(formdata), calculate_segmentation(formdata), calculate_mask(formdata)).done(
        function(pose_data, segmentation_data, mask_data){
            if(pose_data[1] === "success" && segmentation_data[1] === "success" && mask_data[1] === "success"){
                formdata.append("pose_keypoints", JSON.stringify(pose_data[0]["result"]));
                formdata.append("person_segmentation", JSON.stringify(segmentation_data[0]["result"]));
                formdata.append("cloth_mask", JSON.stringify(mask_data[0]["result"]));

                $("#spinner-div").show();
                $("#spinner-text").html("Generating resulting image...");

                $.ajax({
                    url         : '{% url "generate_result" %}',
                    type        : 'POST',
                    data        : formdata,
                    cache       : false,
                    contentType : false,
                    processData : false,
                    success : function(data) {
                        console.log('generate_result success');
                        parser_img_node = $("#human_parsed");
                        parser_img_node.attr('src', data.result);
                    },
                    error: function(data) {
                        console.log('generate_result failed');
                        console.log(data);
                    },
                    complete: function(data) {
                        $("#spinner-div").hide();
                    }
                });
            }
        }
    );
    {#$.ajax({#}
    {#    url         : '{% url "calculate_pose" %}',#}
    {#    type        : 'POST',#}
    {#    data        : formdata,#}
    {#    cache       : false,#}
    {#    contentType : false,#}
    {#    processData : false,#}
    {#    success : function(data) {#}
    {#        var pose_keypoints = JSON.stringify(data["result"]);#}
    {#        formdata.append("pose_keypoints", pose_keypoints)#}
    {#        $("#spinner-text").html("Generating image...");#}
    {#        $.ajax({#}
    {#            url         : '{% url "post_pose" %}',#}
    {#            type        : 'POST',#}
    {#            data        : formdata,#}
    {#            cache       : false,#}
    {#            contentType : false,#}
    {#            processData : false,#}
    {#            success : function(data) {#}
    {#                console.log('success');#}
    {#                parser_img_node = $("#human_parsed");#}
    {#                parser_img_node.attr('src', `data:image/jpg;base64, ${data.result}`);#}
    {#            },#}
    {#            complete: function () {#}
    {#                $("#spinner-div").hide();#}
    {#            },#}
    {#            error: function(data) {#}
    {#                console.log('viton-fail');#}
    {#            }#}
    {#        });#}
    {#    },#}
    {#    error: function(data) {#}
    {#        console.log('image-fail');#}
    {#        $("#spinner-div").hide();#}
    {#    }#}
    {# }); #}
});
</script>
{% endblock javascript %}